.about_container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.about_container_reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 15px;
}

@media (max-width: 800px) {
  .about_container {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .about_container_reverse {
    flex-direction: column;
  }
}