.header {
  color: $white;
  background-color: $dback;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 15px rgba(100, 36, 106, 0.2);
  height: 60px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 100;
    width: 100%;
  }
}
// .lock-scroll {
//   .header {
//     &.header-absolute {
//       position: static;
//     }
//   }
// }
