.page-services-single {
  .content {
    a:link, a:visited {color: $secondary;
      text-decoration: none;
      font-weight: bold;}
    a:hover, a:active {color: lighten($secondary, 10%)}
    > p {
      color: rgb(255, 255, 255);
      &:first-of-type {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 40px;
        font-weight: 300;
        @include media-breakpoint-up(md) {
          color: rgb(255, 255, 255);
          font-size: 1.4rem;
          line-height: 1.4;
          margin-bottom: 40px;
          font-weight: 300;
        }
      }
    }
  }
}
